In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('D:\panda\Fortune_10.csv')
df

,ID,Name,Date,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,yes,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,yes,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,yes,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,10%
3,4,Mattouch,yes,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,10%
4,5,Techdrill,yes,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,10%
5,6,Techline,yes,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,10%
6,7,Cityace,yes,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,yes,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,yes,IT Services,2011,"$14,001,180",NaN,11901180,18%

In [3]:
X = df[['Name','Date','Industry','Inception','Revenue','Expenses','Profit']]
Y = df['Growth']
print(X.shape)
print(Y.shape)

(9, 7)
(9,)

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2,random_state=2)
X_train

,Name,Date,Industry,Inception,Revenue,Expenses,Profit
6,Cityace,yes,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116
2,Canecorporation,yes,Health,2012,"$10,597,009","7,591,189 Dollars",3005820
3,Mattouch,yes,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557
0,Lamtone,yes,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553
5,Techline,yes,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816
7,Kayelectronics,yes,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830
8,Ganzlax,yes,IT Services,2011,"$14,001,180",NaN,11901180

In [5]:
X_test

,Name,Date,Industry,Inception,Revenue,Expenses,Profit
4,Techdrill,yes,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627
1,Stripfind,yes,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916

In [6]:
y_train

6     6%
2    10%
3    10%
0    30%
5    10%
7     4%
8    18%
Name: Growth, dtype: object

In [7]:
y_test

4    10%
1    20%
Name: Growth, dtype: object

In [8]:
X_train.count()

Name         7
Date         7
Industry     7
Inception    7
Revenue      7
Expenses     6
Profit       7
dtype: int64

In [9]:
X_test.count()

Name         2
Date         2
Industry     2
Inception    2
Revenue      2
Expenses     2
Profit       2
dtype: int64